<a href="https://colab.research.google.com/github/Fernarthit/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 15/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง ซึ่งข้อมูลที่เลือกเองคือ  ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

#DataCovid1 ตั้งแต่วันที่ 12/01/2021 ถึง 12/08/2021

In [1]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import os
path = '/content/drive/My Drive/Project_dataviz'

In [21]:
data_file_path = os.path.join(path,'DATACOVID_1.csv')    
data1 = pd.read_csv(data_file_path)  
data1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

#DataCovid2 ตั้งแต่วันที่ 12/08/2021 ถึง 25/10/2021

In [20]:
data_file_path = os.path.join(path,'DATACOVID_2.csv')    
data2 = pd.read_csv(data_file_path)  
data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

#DataCovid3 ตั้งแต่วันที่ 26/10/2021 ถึง 27/02/2022

In [36]:
data_file_path = os.path.join(path,'DATACOVID_3.csv')   
data3 = pd.read_csv(data_file_path)  
data3_1 =  data3.drop('Unnamed: 11', axis=1) #ลบ Unnamed:11
data3_1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

#DataCovid4 ตั้งแต่วันที่ 28/2/2022 - 15/3/2022

In [22]:
data_file_path = os.path.join(path,'DATACOVID_4.csv')   
data4 = pd.read_csv(data_file_path)  
data4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

#ข้อมูลที่เลือก
#ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [26]:
data_file_path = os.path.join(path,'ข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA.csv')    
data2_1 = pd.read_csv(data_file_path)  
data2_1

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
0,1,1,เชียงราย,ทั่วไปขนาดกลางกรุงเทพเชียงราย,41574.0,เอกชน,เอกชน,0,NaN,NaN
1,2,1,เชียงราย,แม่ฟ้าหลวง,11200.0,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
2,3,1,เชียงราย,เทิง,11189.0,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
3,4,1,เชียงราย,ดอยหลวง,28823.0,รัฐในสังกัดสป.สธ.,รพช.,0,NaN,NaN
4,5,1,เชียงราย,เชียงแสน,11193.0,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
...,...,...,...,...,...,...,...,...,...,...
1473,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543.0,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021
1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,หมายเหตุ,A-HA = โรงพยาบาลที่ได้รับการรับรองกระบวนการคุ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,สถานะขั้นปัจจุบันที่มีตัวอักษร e (expired) = ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,สถานะขั้นปัจจุบัน r (Re-Accreditation ) = โร...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#รวมData Covid (ตั้งแต่วันที่ 12/01/2020 - 15/03/2022)

In [37]:
data = pd.concat([data1,data2,data3_1,data4]) 
data

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

###ลบค่า Missing ของ DataCovid ตั้งแต่วันที่ 12/01/2020 - 15/03/2022

In [43]:
datadrop = data.dropna() #ลบข้อมูลที่มี NaN
datadrop

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
47,48,6/3/2020,4/3/2020,ชาย,43.0,ปี,United Kingdom,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,คลองตัน
124,125,6/3/2021,5/3/2021,หญิง,55.0,ปี,Thailand,ปทุมธานี,Cluster ตลาดพรพัฒน์,ปทุมธานี,ธัญบุรี
161,162,17/3/2020,21/3/2020,ชาย,14.0,ปี,Thailand,สุราษฎร์ธานี,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
181,182,18/3/2020,15/3/2020,ชาย,33.0,ปี,Thailand,ขอนแก่น,สนามมวย,ขอนแก่น,เมือง
186,187,18/3/2020,16/3/2020,ชาย,36.0,ปี,Thailand,ร้อยเอ็ด,สนามมวย,ร้อยเอ็ด,เชียงขวัญ
...,...,...,...,...,...,...,...,...,...,...,...
357022,3226639,15/3/2022,14/3/2022,หญิง,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357023,3226640,15/3/2022,14/3/2022,หญิง,49.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง
357024,3226641,15/3/2022,14/3/2022,หญิง,19.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ราชเทวี
357025,3226642,15/3/2022,14/3/2022,ชาย,66.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ลาดพร้าว
357026,3226643,15/3/2022,14/3/2022,ชาย,46.0,ปี,Thailand,กรุงเทพมหานคร,อื่นๆ,กรุงเทพมหานคร,ห้วยขวาง

In [56]:
set(datadrop['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\xa0',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'นครนปฐม',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครสรรค์',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางเพียง',
 'บึงกาฬ',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรีมย์',
 'ปจ',
 'ปทุทธานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี\xa0',
 'ปทุมาธานี',
 'ปธุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประทุมธานี',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปััตตานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระยอง',
 'ระยอง\xa0',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลาดกระบัง',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมทรสงคราม',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราสาคร',
 'สมุย',
 'สมุุทรสงคราม',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สะพานสูง',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎ์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หัวหิน',
 'ห้วยขวาง',
 'อำนาจเจริญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมืองตาก',
 'เมืองปัตตานี',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่ระบุ'}

In [58]:
datadrop.isnull().any() #เช็ค Missing False คือ ไม่มี

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

###ลบค่า Missing ของข้อมูลสถิติการรับรองและสถานะการรับรองของสถานพยาบาลตามมาตรฐาน HA ขั้น 1-3 และ Advanced-HA

In [48]:
datadrop1 = data2_1.dropna() #ลบ Missing
datadrop1

,No.,เขต,จังหวัด,โรงพยาบาล,H Code,สังกัด,ชนิดรพ.,ขั้นปัจจุบัน,วันรับรอง,วันหมดอายุ
1,2,1,เชียงราย,แม่ฟ้าหลวง,11200.0,รัฐในสังกัดสป.สธ.,รพช.,r1,22/10/2018,21/10/2021
2,3,1,เชียงราย,เทิง,11189.0,รัฐในสังกัดสป.สธ.,รพช.,r1,11/2/2020,10/2/2023
4,5,1,เชียงราย,เชียงแสน,11193.0,รัฐในสังกัดสป.สธ.,รพช.,r3,3/3/2020,2/3/2023
5,6,1,เชียงราย,เกษมราษฎร์ ศรีบุรินทร์,12026.0,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,12/2/2019,11/2/2022
6,7,1,เชียงราย,แม่จัน,11192.0,รัฐในสังกัดสป.สธ.,รพช.,r4,19/12/2020,18/12/2021
...,...,...,...,...,...,...,...,...,...,...
1468,1469,13,กรุงเทพมหานคร,สถาบันกัลยาณ์ราชนครินทร์,11597.0,รัฐในสังกัดสธ.,กรมสุขภาพจิต,r5,20/2/2021,19/2/2024
1469,1470,13,กรุงเทพมหานคร,ทั่วไปขนาดใหญ่วิชัยยุทธ,11714.0,เอกชน,เอกชน,r1,24/3/2021,23/3/2024
1470,1471,13,กรุงเทพมหานคร,เวชศาสตร์เขตร้อน คณะเวชศาสตร์เขตร้อน มหาวิทยาล...,13757.0,กระทรวงศึกษาธิการ,กระทรวงศึกษาธิการ,r2,11/6/2019,10/6/2022
1471,1472,13,กรุงเทพมหานคร,กรุงเทพคริสเตียน,11548.0,เอกชน,สมาคมโรงพยาบาลเอกชน,r2,28/5/2019,27/5/2022
1473,1474,13,กรุงเทพมหานคร,มิชชั่นโรงพยาบาลทั่วไปขนาดใหญ่,11543.0,เอกชน,สมาคมโรงพยาบาลเอกชน,r4e,4/3/2020,3/3/2021

In [49]:
datadrop1.isnull().any() #เช็คจำนวน Missimg False คือ ไม่มี

No.             False
เขต             False
จังหวัด         False
โรงพยาบาล       False
H Code          False
สังกัด          False
ชนิดรพ.         False
ขั้นปัจจุบัน    False
วันรับรอง       False
วันหมดอายุ      False
dtype: bool